---
import Logo from '../assets/logo.svg';
import instagram from "../assets/instagram.avif";
import xLogo from "../assets/x-logo.avif";
import {Image} from 'astro:assets';
---

<footer class="mt-6 mb-7">
    <div class="container-sm">
        <div class="hstack align-items-center g-3 justify-center">
            <Logo width={64} height={64}/>
            <p class="h2">劇団万絵巻</p>
        </div>
        <ul class="mt-4 utilitylink-units justify-center">
            <li><a href="/performances/" class="utilitylink">公演</a></li>
            <li><a href="/feature/" class="utilitylink">特集</a></li>
            <li><a href="/diary/" class="utilitylink">劇団員日記</a></li>
            <li><a href="/contact/" class="utilitylink">お問い合わせ</a></li>
        </ul>
        <div class="hstack g-4 mt-4 justify-center">
            <a href="https://www.instagram.com/yoroduwemaki" rel="external">
                <Image width="40" height="40" class="" src={instagram} alt="Instagramのロゴ"/>
            </a>
            <a href="https://x.com/Yoroduwemaki" rel="external">
                <Image width="40" height="40" class="" src={xLogo} alt="Xのロゴ"/>
            </a>
        </div>
    </div>
    <div class="container-lg mt-5">
        <p class="text-right">
            &copy; 1994-{new Date().getFullYear()} Yoroduwemaki. All rights reserved.
        </p>
    </div>
</footer>
